html {font: 62.5%;}

body{
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.brand-logo{
    opacity: .7;
}
.flex{
    display: flex;
}
#navbar{
    
}

.ideas{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sign-up{
    top: 0;
    display: flex;
}

.pop-mod{
    display: flex;
    align-items: center;
    transform: scale(0.8);
    overflow: hidden;
    top: 0;
    transition: all 1s;
}
.close-pop{
   visibility: hidden;
   top: 0;
   transform: translate(-50%, -50%) scale(0.1);
   transition: all 0.4s;
}

.reviews{
    display: flex;
    position: absolute;
    top: 10%;
    width: 350px;
}
.review-label{
    width: 100%;
}
.review-tab{
    display: flex;
    
position: absolute;
width: 70px;
border-radius: 100px;
top: 5%;
left: 1%;
}
.review-tab-remove{
    visibility: hidden;
}
.review-tab svg{
    fill: #2980B9;
    width: 50px;
    transform: scale(2);
}

.fixed{
    position: fixed;
}
.contact{
    position: absolute;
    width: 20%;
    left: 80%;
}
.contact-icon{
    transform: scale(1.5);
    width: 50px;
    fill: #6DD5FA;
}
.contact-drop{
    position: absolute;
    width: 80%;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 10%;
}
@media  screen and (max-width: 1439px){
    .reviews{
        display: none;
    }
    .contact{
       left: 94%;
       position: fixed;
    }
    .contact p, h6, small {
        display: none;
    }
    .contact-drop{
        transform: translate(-200px, -20px);
    }
}
@media screen and (max-width: 764px){
    .contact{
        left: 90%;
    }
}